<div
  class="w-[330px] h-[236px] bg-white border border-grey03 mt-[8px] rounded-[7px] p-4"
>
  <!-- Heading -->
  <p class="text-md font-semibold text-black mb-4">Activity</p>

  <div class="grid grid-cols-[auto_1fr] gap-x-4 gap-y-2">
    <div>
      <span class="text-sm text-black">Login: Jennifer Doe</span>
    </div>
  </div>
  <div class="grid grid-cols-[auto_1fr] gap-x-4 gap-y-2">
    <div>
      <span class="text-sm text-black">Updated dataset by Jennifer Doe</span>
    </div>
  </div>
</div>
