<nav
  class="w-full h-[74px] bg-white border-b border-grey03 flex items-center px-4"
>
  <div class="ml-auto flex items-center h-[34px] space-x-6 justify-between">
    <!-- Bell Icon -->
    <button
      class="flex items-center justify-center bg-grey01 border border-grey03 rounded-md h-[34px] w-[34px]"
      aria-label="Notifications"
    >
      <span class="material-icons-round text-black">notifications</span>
    </button>
    <!-- Vertical Line -->
    <span class="border-l border-grey04 mx-2 h-[32px] w-[0.5px]"></span>
    <!-- User Info -->
    <div class="flex flex-col items-start space-y-2">
      <a href="#" class="text-black text-md hover:text-gray-900"
        >Jennifer Doe</a
      >
      <span class="text-black text-sm">Bank ABC</span>
    </div>
    <!-- Down Arrow Icon -->
    <span class="material-icons-round text-gray-600 h-[18px] w-[18px] ml-2"
      >keyboard_arrow_down</span
    >
  </div>
</nav>
